body {
    color: #4286f4;
}
.container {
    width: 600px;
    margin: 50px auto;
}
.slider-component {
    position: relative;
}
header{
    text-align: center;
}
footer{
    text-align: right;
    padding: 10px 0px;
}
figure {
    margin: 0px auto;
    width: 100%;
    height: 300px;
    background-color: #fff;
    box-shadow: 1px 2px 10px #858e9b;
    border-radius: 10px 10px;
    padding: 4px;
}
figure img {
    border-radius: 10px 10px;
    width: 600px;
    height: 300px;
}
.container:hover figcaption {
    opacity: .6;
}
figcaption {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 14px 0px;
    background: #fff;
    bottom: 0;
    position: absolute;
    width: 100%;
    opacity: .0;
    transition: opacity .5s;
}
.controls {
    position: absolute;
    top: 118px;
    width: 600px;
    padding: 4px;
}
.controls .btn {
    background-color: #fff;
    color: #000;

    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 5px 25px;
    cursor: pointer;
    opacity: 0.2;
    transition: opacity .5s;
}
.controls .btn:hover {
    opacity: .6;
}
.left{
    float: left;
    border-radius: 0px 20px 20px 0px;
}
.right{
    float: right;
    border-radius: 20px 0px 0px 20px;
}
